body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none; 
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  white-space: pre-wrap;
}

/* Add margin to the Previous Day and Next Day buttons */
#prevDay
 {
  margin-right: 30px;
  padding: 5px;
}

#nextDay {
  margin-left: 30px;
  padding: 5px;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
  border-radius: 0.9rem !important; 
}

.present {
  background-color: #ff6961;
  color: white;
  border-radius: 0.9rem !important; 
}

.future {
  background-color: #77dd77;
  color: white;
  border-radius: 0.9rem !important; 
}

.saveBtn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  border-radius: 5px;
}

.deleteBtn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(213, 6, 6);
  color: white;
  border-radius: 5px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.deleteBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  
}

/* adds border to each hour */
.hour {
  /* background-color: #ffffff; */
  color: #000000;
  border-top: 1px dashed #000000;
  border: 1px solid #000000; /* Add this line for a border around each hour */
  
}

.time-block {
  border: 1px solid #000000; /* Add this line for a border around each time block */
  text-align: center;
  border-radius: 15px;
  padding: 10px; /* Add padding to create separation between the border and inner elements */
}

.calendar-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.calendar-container {
  padding: 20px; /* Add padding around the content */
  border: 2px solid #000000; /* Add a 2-pixel solid border around the container */
}


